---

- name: register local filters
  shell: 'ls {{ role_path }}/files/filters | sed s/.conf$//'
  register: fail2ban_local_filters
  delegate_to: localhost
  become: no
  changed_when: False

- name: copy configured filters
  copy:
    src: 'filters/{{ item }}.conf'
    dest: '{{ fail2ban_filter_path }}/{{ item }}.conf'
  with_items: "{{ fail2ban_local_filters.stdout_lines | intersect(fail2ban_jails.keys()) }}"
  notify: restart_fail2ban

- name: copy custom actions
  copy:
    src: 'actions/{{ item }}'
    dest: '{{ fail2ban_action_path }}/{{ item }}'
  with_items: "{{ fail2ban_actions }}"
  notify: restart_fail2ban

- name: set jail.local
  template:
    src: jail.local.j2
    dest: '{{ fail2ban_path }}/jail.local'
    mode: 0644
  notify: restart_fail2ban

- name: ensure {{ fail2ban_jail_path }} exists
  file:
    dest: "{{ fail2ban_jail_path }}"
    owner: root
    group: root
    mode: '0755'
    state: directory

- name: set custom jails
  template:
    src: jail.conf.j2
    dest: '{{ fail2ban_jail_path }}/{{ item.key }}.conf'
    mode: 0644
  with_dict: "{{ fail2ban_jails }}"
  notify: restart_fail2ban

- name: remove custom jails
  file:
    path: '{{ fail2ban_jail_path }}/{{ item.key }}.conf'
    state: absent
  with_items: "{{ remove_fail2ban_jails }}"
  notify: restart_fail2ban
