---

- name: register local filters
  shell: 'ls {{ role_path }}/files/filters | sed s/.conf$//'
  register: fail2ban_local_filters
  delegate_to: localhost
  sudo: False
  changed_when: False

- name: copy configured filters
  copy:
    src: 'filters/{{ item }}.conf'
    dest: '{{ fail2ban_filter_path }}/{{ item }}.conf'
  with_items: fail2ban_local_filters.stdout_lines|intersect(fail2ban_jails.keys())
  notify: restart_fail2ban

- name: copy custom actions
  copy:
    src: 'actions/{{ item }}'
    dest: '{{ fail2ban_action_path }}/{{ item }}'
  with_items: fail2ban_actions
  notify: restart_fail2ban

- name: set jail.local
  template:
    src: jail.local.j2
    dest: '{{ fail2ban_path }}/jail.local'
    mode: 0644
  notify: restart_fail2ban

- shell: fail2ban-client --v
  register: fail2ban_version
  ignore_errors: True
  changed_when: False

- debug:
    var: fail2ban_version
  changed_when: False

- name: create fail2ban_jail_path
  file: path={{ fail2ban_jail_path }} state=directory mode=0755

- name: set custom jails
  template:
    src: jail.conf.j2
    dest: '{{ fail2ban_jail_path }}/{{ item.key }}.conf'
    mode: 0644
  with_dict: fail2ban_jails
  notify: restart_fail2ban
