# The DEFAULT allows a global definition of the options. They can be override
# in each jail afterwards.

[DEFAULT]

{% for param, value in fail2ban_config.items() %}
{{ param }} = {{ value }}
{% endfor %}